<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Game Collectors App">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python, Flask, Mongodb">
    <meta name="author" content="Nuno Nunes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1UPLoot</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import CSS style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--Import Materialize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import font-awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <!--Import logo font-->
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <!--Import default font-->
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
</head>

<body>


    <!-- Nav bar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('index')}}" class="brand-logo"><img alt="logo" src="../static/images/logo.png" width="20"
                    height="20" alt=""> 
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!--Mobile side nav-->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#"> Register</a></li>
    </ul>

    <!-- Footer -->
    <footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="footer-copyright">
            <div class="social-icons container center">
                <a href="mailto:contact@nunonunes.dev" aria-label="Email" rel="noopener" target="_blank"><i
                        class="fas fa-envelope"></i></a>
                <a href="https://www.twitter.com" aria-label="Twitter" rel="noopener" target="_blank"><i
                        class="fab fa-twitter-square"></i></a>
                <a href="https://www.nunonunes.dev" aria-label="Website" rel="noopener" target="_blank"><i
                        class="fab fa-chrome"></i></a>
                <div class="designed-by">
                    Designed by Nuno Nunes
                </div>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% block content %}{% endblock %}
</body>

</html>