{% extends 'base.html' %} {% block content %}
<!--Title-->
<div class="main-container-games">
    <div class="row">
        <div class="col s12 m12 l12 center title-games">
            <p class="games-title">Edit Game</p>
        </div>
    </div>
    <!--Add edit container-->
    <div class="container add-edit-game-container">
        <div class="row">
            <!--Update game form-->
            <form id="form-addedit" class="form-addedit" action="{{ url_for('update_game', game_id=game._id ) }}"
                method="POST" class="col s12">
                <div class="row">
                    <!--Game name-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">videogame_asset</i>
                        <input placeholder="Game Name" id="game_name" name="game_name" type="text"
                            value="{{game.game_name}}" required>
                        <label for="icon_prefix">Game Name</label>
                    </div>
                    <!--Game image-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">image</i>
                        <input id="game_image" name="game_image" type="url" class="validate" value="{{game.game_image}}"
                            placeholder="https://tinyurl.com/y8rey5pg" required>
                        <label for="icon_prefix">Image Url(200x200)</label>
                    </div>
                    <!--Pickup date-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">today</i>
                        <input placeholder="Pickup Date" id="pickup_date" name="pickup_date" type="text"
                            value="{{game.pickup_date}}" class="datepicker validate" required>
                        <label for="icon_prefix">Pickup Date</label>
                    </div>
                    <!--Platform name-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">gamepad</i>
                        <select class="validate" id="platform_name" name="platform_name" required>
                            <option value="" disabled selected>Platform</option>
                            <!--All platforms available in the db-->
                            {% for plats in plat %}
                            <!--If there's a value saved in the db , set the value saved-->
                            {% if plats.platform_name == game.platform_name %}
                            <option value="{{plats.platform_name}}" selected>{{plats.platform_name}}</option>
                            {% else %}
                            <!--If there's no value saved in the db, show the available options -->
                            <option value="{{plats.platform_name}}">{{plats.platform_name}}</option>
                            {% endif %}
                            {%endfor%}
                        </select>
                        <label>Platform</label>
                    </div>
                    <!--Genre Name-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">movie</i>
                        <select class="validate" id="genre_name" name="genre_name" required>
                            <option value="" disabled selected>Genre</option>
                            <!--All platforms available in the db-->
                            {% for genres in genre %}
                            <!--If there's a value saved in the db , set the value saved-->
                            {% if genres.genre_name == game.genre_name %}
                            <option value="{{genres.genre_name}}" selected>{{genres.genre_name}}</option>
                            {% else %}
                            <!--If there's no value saved in the db, show the available options -->
                            <option value="{{genres.genre_name}}">{{genres.genre_name}}</option>
                            {% endif %}
                            {%endfor%}
                        </select>
                        <label>Genre</label>
                    </div>
                    <!--Game Condition-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">autorenew</i>
                        <select class="validate" id="game_condition" name="game_condition">
                            <option value="" disabled selected>Game Condition</option>
                            <option value="New">New</option>
                            <option value="Used">Used</option>
                            <option value="Mint">Mint</option>
                        </select>
                        <label>Game Condition</label>
                    </div>
                    <!--Game Store-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">store</i>
                        <input placeholder="Game Store" id="game_store" name="game_store" type="text"
                            value="{{game.game_store}}" class="validate">
                        <label for="game_store">Game Store</label>
                    </div>
                    <!--Game price-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">attach_money</i>
                        <input placeholder="Purchased Price" id="game_price" name="game_price"
                            value="{{game.game_price}}" type="number" class="validate">
                        <label for="game_price">Purchased Price</label>
                    </div>
                    <!--Game Value-->
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">monetization_on</i>
                        <input placeholder="Current Value" id="game_value" name="game_value" value="{{game.game_value}}"
                            type="number" min="1" step="any" class="validate">
                        <label for="game_value">Game Value</label>
                    </div>
                </div>
                <!--Save and delete buttons-->
                <div class="row">
                    <div class="input-field col s12 m12 l12 center">
                        <button id="save-button" class="btn waves-effect waves-green green">Save
                            <i class="material-icons right">save</i>
                        </button>
                        <button <a id="delete-button-link" href="#modal1"
                            class="modal-trigger btn waves-effect waves-orange red">Delete<i
                                class="material-icons right">delete</i></a>
                        </button>
                        <!--Confirmation modal if the user presses delete-->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <p>Are you sure?</p>
                            </div>
                            <!--If the user presses no it will close the modal-->
                            <div class="modal-footer center">
                                <a id="no-button" href="#!" class="modal-close">No</a>
                                
                                <!--If the user presses yes it will delete the game-->
                                <a id="yes-button" href="{{url_for('delete_game', game_id=game._id)}}">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}