{% extends 'base.html' %} {% block content %}
<div class="main-container-games">
    <!--User title-->
    <div class="row">
        <div class="col s12 m12 l12 center title-games">
            <p class="games-title">{{user.title()}}'s Loot</p>
        </div>
    </div>
    <!--Search bar buttons-->
    <div class="row search-bar col s3 m3 l3 center">
        <!--Platform Search-->
        <a id="search-btn" class='dropdown-trigger btn btn-large waves-effect waves-light grey lighten-5' href='#'
            data-target='dropdown1'>Platform</a>
        <ul name="platform_name" id='dropdown1' class='dropdown-content'>
            <li><a href="{{url_for("get_search", search="PC",user=user)}}">PC</a></li>
            <li><a href="{{url_for("get_search", search="Xbox One",user=user)}}">Xbox One</a></li>
            <li><a href="{{url_for("get_search", search="Xbox 360",user=user)}}">Xbox 360</a></li>
            <li><a href="{{url_for("get_search", search="Xbox Series X",user=user)}}">Xbox Series X</a></li>
            <li><a href="{{url_for("get_search", search="Playstation 5",user=user)}}">Playstation 5</a></li>
            <li><a href="{{url_for("get_search", search="Playstation 4",user=user)}}">Playstation 4</a></li>
            <li><a href="{{url_for("get_search", search="Playstation 3",user=user)}}">Playstation 3</a></li>
            <li><a href="{{url_for("get_search", search="Nintendo Switch",user=user)}}">Nintendo Switch</a></li>
            <li><a href="{{url_for("get_search", search="Nintendo 3DS",user=user)}}">Nintendo 3DS</a></li>
        </ul>
        <!--Retro game Search-->
        <a id="search-btn" class='dropdown-trigger btn btn-large waves-effect waves-light grey lighten-5' href='#'
            data-target='dropdown2'>Retro</a>
        <ul id='dropdown2' class='dropdown-content'>
            <li><a href="{{url_for("get_search", search="Commodore Amiga",user=user)}}">Commodore Amiga</a></li>
            <li><a href="{{url_for("get_search", search="Commodore 64",user=user)}}">Commodore 64</a></li>
            <li><a href="{{url_for("get_search", search="ZX Spectrum",user=user)}}">ZX Spectrum</a></li>
            <li><a href="{{url_for("get_search", search="NES",user=user)}}">NES</a></li>
            <li><a href="{{url_for("get_search", search="SNES",user=user)}}">SNES</a></li>
            <li><a href="{{url_for("get_search", search="Gameboy",user=user)}}">Gameboy</a></li>
            <li><a href="{{url_for("get_search", search="PSX",user=user)}}">PSX</a></li>
            <li><a href="{{url_for("get_search", search="Playstation 2",user=user)}}">Playstation 2</a></li>
            <li><a href="{{url_for("get_search", search="Xbox",user=user)}}">Xbox</a></li>
            <li><a href="{{url_for("get_search", search="Saturn",user=user)}}">Sega Saturn</a></li>
            <li><a href="{{url_for("get_search", search="Megadrive",user=user)}}">Sega Megadrive</a></li>
            <li><a href="{{url_for("get_search", search="MegaCD",user=user)}}">Sega MegaCD</a></li>
            <li><a href="{{url_for("get_search", search="32X",user=user)}}">Sega 32X</a></li>
            <li><a href="{{url_for("get_search", search="Master System",user=user)}}">Sega Master System</a></li>
            <li><a href="{{url_for("get_search", search="Game Gear",user=user)}}">Sega Game Gear</a></li>
            <li><a href="{{url_for("get_search", search="PSP",user=user)}}">PSP</a></li>

        </ul>
        <!--Game Genre Search-->
        <a id="search-btn" class='dropdown-trigger btn-genre btn btn-large waves-effect waves-light grey lighten-5'
            href='#' data-target='dropdown3'>Genre</a>
        <ul id='dropdown3' class='dropdown-content'>
            <li><a href="{{url_for("search_genre", genre="Action",user=user)}}">Action</a></li>
            <li><a href="{{url_for("search_genre", genre="Adventure",user=user)}}">Adventure</a></li>
            <li><a href="{{url_for("search_genre", genre="RPG",user=user)}}">RPG</a></li>
            <li><a href="{{url_for("search_genre", genre="Simulation",user=user)}}">Simulation</a></li>
            <li><a href="{{url_for("search_genre", genre="Strategy",user=user)}}">Strategy</a></li>
            <li><a href="{{url_for("search_genre", genre="Sports",user=user)}}">Sports</a></li>
            <li><a href="{{url_for("search_genre", genre="Puzzle",user=user)}}">Puzzle</a></li>
            <li><a href="{{url_for("search_genre", genre="MMO",user=user)}}">MMO</a></li>
            <li><a href="{{url_for("search_genre", genre="FPS",user=user)}}">FPS</a></li>
            <li><a href="{{url_for("search_genre", genre="MOBA",user=user)}}">MOBA</a></li>
        </ul>
        <!--Add games button-->
        <a href="{{url_for('add_games')}}" class="btn-floating btn-large waves-effect waves-light amber darken-3"><i
                class="material-icons">add</i></a>
    </div>
</div>
<div class="container games-container">
    <div class="row games-row">
        <!--If user is logged in display all his games-->
        {% for game in games %}
        {% if game.user == session['username']  %}
        <div class="col s12 m4 l4 center">
            <!--Trigger Modal when a game is chosen-->
            <a class="border modal-trigger" href="#modal2{{loop.index}}">
                <!--Game Image-->
                <img class="game-cover" src="{{game.game_image}}" alt="Game Cover" width="200" height="200">
            </a>
            <!--Game Description-->
            <div class="game-description">
                <h5>{{game.game_name}}</h5>
            </div>
            <!--Modal with all game information-->
            <div id="modal2{{loop.index}}" class="modal">
                <div class="modal-content center">
                    <h4>{{game.game_name}}</h4>
                    <p><strong>Platform:</strong>{{game.platform_name}}</p>
                    <p>Genre:{{game.genre_name}}</p>
                    <p>Pickup Date:{{game.pickup_date}}</p>
                    <p>Condition:{{game.game_condition}}</p>
                    <p>Store:{{game.game_store}}</p>
                    <p>Price:{{game.game_price}}</p>
                    <p>Value:{{game.game_value}}</p>
                </div>
                <!--Edit and Ok buttons to close or edit the game chosen-->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col s12">
                            <a class="btn orange" id="edit-btn-game"
                                href="{{url_for('edit_game', game_id=game._id)}}">Edit</a>
                            <a class="btn green modal-close" id="ok-btn" href="#!">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {%endfor%}
    </div>
</div>

{% endblock %}